
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap");


:root {
  
  --first-color: hsl(177, 95%, 56%);
  --black-color: hsl(216, 4%, 28%);
  --white-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 0%);

  --body-font: "Montserrat Alternates", sans-serif;
  --biggest-font-size: 2.5rem;
  --tiny-font-size: .625rem;
  .bold-text {
    font-weight: bold;
}


  
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 1500;

 
  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}


.section {
  height: 100vh;
  padding-block: 2.5rem;
}

.section h1 {
  font-size: var(--biggest-font-size);
  
  text-align: center;
}




.show-list,
.show-list li{
  transform: translateY(0);
}


.rotate-icon {
  transform: rotate(135deg);
}


.active-link {
  color: var(--white-color);
}

@media screen and (min-width: 450px) {
  .nav {
    width: 350px;
  }
}


@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}




/*стилі для тимчасових  зборів */

.donation-card {
  background: var(--white-color);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(247, 247, 247, 0.1);
}

.donation-card h2 {
  font-size: 1.5rem;
  color: var(--black-color);
}

.donation-card p {
  font-size: 1rem;
  color: var(--text-color);
}

.donation-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--first-color);
  color: var(--white-color);
  border-radius: 4px;
  text-decoration: none;
  margin-top: 0.5rem;
}









/* splash */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s;
}

.splash-screen.hide {
  opacity: 0;
  pointer-events: none;
}

.splash-content {
  text-align: center;
  color: white;
}

.logo {
  width: 300px;  
  height: auto;
  margin-bottom: 15px;
  animation: fadeInLogo 1s ease-out;
}


.quote {
  font-family: 'Montserrat Alternates', sans-serif;  
  font-size: 20px;
  opacity: 0;
  animation: fadeInQuote 2s ease-in forwards;
}


@keyframes fadeInLogo {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes fadeInQuote {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
















#news-container {
  max-height: 400px; 
  overflow-y: auto; 
  border: 4px solid #858585; 
  padding: 20px;
  margin-top: 50px;
}

.news-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}














.news-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}












.about-logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-logo-img {
  width: 200px; 
  height: auto;
}






p:first-of-type {
  margin-top: 30px; 
  font-size: 18px; 
}

p {

  font-size: 20px;
}












/* hint icon (vladik) 
*/
.info-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px; 
  height: 22px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px; 
  border-radius: 10px;
  width: auto; 
  max-width: 280px;
  text-align: center; 
  color: black; 
  position: relative;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 16px; 
}

@media (max-width: 768px) {
  .info-icon {
    font-size: 16px;
    width: 20px;
    height: 20px;
  }

  .modal-content {
    max-width: 250px; 
  }
}










.bottom-nav-tiktok {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    z-index: 1000;
}

.nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #888;
    font-size: 12px;
    transition: all 0.3s ease;
}

.nav-icon svg {
    font-size: 24px;
    margin-bottom: 4px;
}

.nav-icon.active {
    color: #000;
    font-weight: bold;
}





.app-container {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}










